  <app-header> </app-header>

  <main>
    <app-results></app-results>
  </main>








































  <!--  <main>-->

<!--    <div class="row">-->
<!--      <div class="column">-->
<!--&lt;!&ndash;        <app-post-control (postCreated)="onPostAdded($event)"></app-post-control>&ndash;&gt;-->
<!--        <app-post-control></app-post-control>-->
<!--      </div>-->

<!--      <div class="column">-->
<!--&lt;!&ndash;        <app-post-history [posts] = "storedPosts"></app-post-history>&ndash;&gt;-->
<!--        <app-post-history></app-post-history>-->

<!--      </div>-->
<!--    </div>-->

<!--    <hr>-->


<!--    <br>-->

<!--  </main>-->

