  <app-header> </app-header>

  <br>

  <div *ngIf="stepSelected==0">
    <app-journey></app-journey>
  </div>

  <div *ngIf="stepSelected==1">
    <app-results></app-results>
  </div>

  <br>

  <div class="footerContainer">
    <div class="selectionBar">
      <button mat-raised-button color="accent" (click)="onStepOne()">Journey</button>
      <button mat-raised-button color="accent" (click)="onStepTwo()">Results</button>
    </div>
  </div>





































  <!--  <main>-->

<!--    <div class="row">-->
<!--      <div class="column">-->
<!--&lt;!&ndash;        <app-post-control (postCreated)="onPostAdded($event)"></app-post-control>&ndash;&gt;-->
<!--        <app-post-control></app-post-control>-->
<!--      </div>-->

<!--      <div class="column">-->
<!--&lt;!&ndash;        <app-post-history [posts] = "storedPosts"></app-post-history>&ndash;&gt;-->
<!--        <app-post-history></app-post-history>-->

<!--      </div>-->
<!--    </div>-->

<!--    <hr>-->


<!--    <br>-->

<!--  </main>-->

