
<mat-card>
  <mat-form-field>
    <textarea rows = 6 [value] = "newPost" #postInput></textarea>
  </mat-form-field>
  <button mat-raised-button (click)="onAddPost(postInput)">Save Post</button>
  <br><br>
  <mat-card>
    <p> {{ newPost }}</p>
  </mat-card>
</mat-card>

<br><br><br><br><br>

<mat-card>
  <mat-form-field>
    <textarea rows = 6 [(ngModel)]="dynamicText" #postInput2></textarea>
  </mat-form-field>
  <button mat-raised-button (click)="onAddPost2(postInput2)">Clear Post</button>
  <br><br>
  <mat-card>
    <p> {{ dynamicText }}</p>
  </mat-card>
</mat-card>


